PUBLIC_URL=http://127.0.0.1:5175
PORT=4242
SQLITE_PATH=./data/marketvibe.sqlite
PUBLIC_DIR=./public

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
SENDGRID_KEY=
SENDGRID_FROM=proof@marketvibe.local

PUBLIC_CALENDLY_URL=https://calendly.com/marketvibe/growth-desk
PUBLIC_TYPEFORM_URL=https://form.typeform.com/to/marketvibe-partner
